{{ template "account.header.html" . }}

<div class="3 pt-3 mt-3 mb-3 border-bottom">
    <h2 class="3 mb-3">Dashboard</h2>
</div>
<h6>Welcome back, {{.user.Name}}</h6>
<br>
<div class="h3 row m-0 text-center m-auto">
    <a href="/account/block-groups" class="col-lg-5 col-md-5 col-12 p-5 mr-2 mb-2 bg-primary text-white">
        <div class="">Block Groups</div>
    </a>
    <a href="/account/settings" class="col-lg-5 col-md-5 col-12 p-5 mr-2 mb-2 bg-danger text-white">
        <div class="">Profile Settings</div>
    </a>
    <a target="_blank" href="/how-it-works" class="col-lg-5 col-md-5 col-12 p-5 mr-2 mb-2 bg-info text-white">
        <div class="">Instructions</div>
    </a>
    <a target="_blank" href="/contact" class="col-lg-5 col-md-5 col-12 p-5 mr-2 mb-2 bg-dark text-white">
        <div class="">Get Help</div>
    </a>
</div>


{{ template "account.footer.html" . }}