{{ template "account.auth.header.html" . }}

<form autocomplete="off" id="form" class="form-signin" action="/account/register" method="POST" onsubmit="return ajaxPost();">
  <a href="/"><img class="mb-4" src="/assets/logo-72.png" alt="logo" height="72"></a>
  <h1 class="h3 mb-3 font-weight-normal">Register New Account</h1>
  <label for="name" class="sr-only">Name</label>
  <input type="text" name="name" id="name" class="form-control" placeholder="Full name" required autofocus>
  <label for="inputEmail" class="sr-only">Email address</label>
  <input type="email" name="email" id="inputEmail" class="form-control" placeholder="Email address" required>
  <label for="phone" class="sr-only">Phone Number</label>
  <input type="text" name="phone" id="phone" class="form-control" placeholder="Phone number" required>
  <label for="inputPassword" class="sr-only">Password</label>
  <input type="password" name="password" id="inputPassword" class="form-control" placeholder="Password" required>
  <button class="btn btn-lg btn-primary btn-block" type="submit">Register</button>
  <div class="mt-2">
    <span>Already registered? <a href="login">Login here</a></span>
  </div>
  <p class="mt-5 mb-3 text-muted">&copy;<a href="/">BookieGuard</a> - 2022</p>
</form>

{{ template "account.auth.footer.html" . }}