{{ template "admin.header.html" . }}
<div class="3 pt-3 mt-3 mb-3 border-bottom">
    <h2 class="3 mb-3">New User</h2>
</div>

<form autocomplete="off" class="row" method="POST" , action="/admin/users">
    <div class="form-group col-lg-3">
        <label for="name">Name</label>
        <input name="name" class="form-control" id="name" placeholder="Name" required>
    </div>
    <div class="form-group col-lg-3">
        <label for="email">Email</label>
        <input name="email" class="form-control" id="email" placeholder="Email" required>
    </div>
    <div class="form-group col-lg-3">
        <label for="phone">Phone</label>
        <input name="phone" class="form-control" id="phone" placeholder="Phone">
    </div>
    <div class="form-group col-lg-3">
        <label for="password">Password</label>
        <input name="password" class="form-control" id="password" placeholder="Password" required>
    </div>
    <div class="form-group col-lg-3 d-flex flex-column">
        <p class="flex-grow-1"></p>
        <button type="submit" class="btn btn-primary btn-block">Register User</button>
    </div>
</form>

<hr>
<div class="3 pt-3 mt-3 mb-3">
    <h2 class="3 mb-3">Users</h2>
</div>
<div class="color-primary">
    {{if .users}}
    <div class="table-responsive">
        <table class="table">
            <thead>
                <tr>
                    <th scope="col">#</th>
                    <th scope="col">Name</th>
                    <th scope="col">Actions</th>
                </tr>
            </thead>
            <tbody>
                {{range $x, $user:= .users}}
                <tr>
                    <th>{{ len (printf "a%*s" $x "") }}. </th>
                    <td> <strong>{{$user.Name}}</strong> <br/> {{$user.Email}} </td>
                    <td>
                        <a class="btn btn-sm btn-success" href="/admin/users/{{$user.ID}}/blockgroups">Block Groups</a>
                        <a class="btn btn-sm btn-danger" href="/admin/users/{{$user.ID}}/delete">Delete User</a>
                    </td>
                </tr>
                {{end}}
            </tbody>
        </table>
    </div>
    {{else}}
    no users found
    {{end}}
</div>

{{ template "admin.footer.html" . }}