{{ template "account.auth.header.html" . }}

<form autocomplete="off" id="form" class="form-signin" action="/admin/login" method="POST">
  <img class="mb-4" src="/assets/logo-72.png" alt="logo" height="72">
  <h1 class="h3 mb-3 font-weight-normal">Login</h1>
  <label for="username" class="sr-only">Username</label>
  <input type="text" name="username" id="username" class="form-control" placeholder="Username" required autofocus>
  <label for="inputPassword" class="sr-only">Password</label>
  <input type="password" name="password" id="inputPassword" class="form-control" placeholder="Password" required>
  <button class="btn btn-lg btn-primary btn-block" type="submit">Login</button>
  <p class="mt-5 mb-3 text-muted">&copy; BookieGuard - 2022</p>
</form>

{{ template "account.auth.footer.html" . }}