{{ template "admin.header.html" . }}
<div class="3 pt-3 mt-3 mb-3 border-bottom">
    <h2 class="3 mb-3">New Blocklist Website</h2>
</div>

<form autocomplete="off" class="row" method="POST" , action="/admin/blocklists">
    <div class="form-group col-lg-3">
        <label for="website">Website</label>
        <input name="website" class="form-control" id="website" placeholder="website" required>
    </div>
    <div class="form-group col-lg-3">
        <label for="category_id">Category</label>
        <select class="form-control" name="category_id" id="category_id">
            {{range $category := .blocklistcategories}}
            <option value="{{$category.ID}}">{{$category.DisplayTitle}} ({{$category.Title}})</option>
            {{end}}
        </select>
    </div>
    <div class="form-group col-lg-3 d-flex flex-column">
        <p class="flex-grow-1"></p>
        <button type="submit" class="btn btn-primary btn-block">Add to Blocklist</button>
    </div>
</form>

<hr>
<div class="3 pt-3 mt-3 mb-3">
    <h2 class="3 mb-3">Blocklist Websites</h2>
</div>
<div class="color-primary">
    {{if .blocklists}}
    <div class="d-flex flex-wrap">
        {{range $blocklist := .blocklists}}
        <div style="border: 2px solid;" class="border-secondary p-2 mr-2 mb-2">
            <span>
                <span style="font-size: 1.4em;">{{$blocklist.Website}}</span>
            </span>
            <a class="btn btn-danger btn-sm" href="/admin/blocklists/{{$blocklist.ID}}/delete">delete</a>
        </div>
        {{end}}
    </div>
    {{else}}
    no record found
    {{end}}
</div>

{{ template "admin.footer.html" . }}