{{ template "public.header.html" . }}

<!-- Heading Row-->
<div class="row gx-4 gx-lg-5 text-center my-5">
    <h1 class="font-weight-light">Downloads</h1>
    <p>Find the latest versions of Bookie Guard for your computer.</p>
</div>
<!-- Content Row-->
<div class="row gx-4 gx-lg-5">
    <div class="col-md mb-5">
        <div class="card h-100">
            <div class="card-body">
                <h2 class="card-title">Windows</h2>
                <p class="card-text">
                <ul>
                    <li>Version: 1.0.0</li>
                    <li>Supports: Win 7 and above</li>
                    <li>RAM: at least 1GB</li>
                    <li>Disk Space: at least 20MB</li>
                </ul>
                </p>
            </div>
            <div class="card-footer"><a class="btn btn-primary btn-sm" download="BookieGuard.msi" href="/assets/downloads/latest/bookieguard.msi">Download Latest Release</a></div>
        </div>
    </div>
</div>

{{ template "public.footer.html" . }}