{{ template "public.header.html" . }}

<!-- Heading Row-->
<div class="row gx-4 gx-lg-5 text-center my-5">
    <h1 class="font-weight-light">Pricing</h1>
    <p>Choose a plan that suites your needs. All plans come with <strong>unlimited updates and support.</strong></p>
</div>
<!-- Content Row-->
<div class="row gx-4 gx-lg-5">
    <div class="col-md-4 mb-5">
        <div class="card h-100">
            <div class="card-body">
                <h2 class="card-title">1 month trial</h2>
                <p class="card-text">
                <ul>
                    <li>NGN 2,000</li>
                    <li>Up to 15 devices</li>
                </ul>
                <a class="btn btn-danger" href="/contact?subject=Free+Trial#messagebox">Contact Us</a>
                </p>
            </div>
        </div>
    </div>
    <div class="col-md-4 mb-5">
        <div class="card h-100">
            <div class="card-body">
                <h2 class="card-title">3 months plan</h2>
                <p class="card-text">
                <ul>
                    <li>NGN 500 / month / device</li>
                    <li>Unlimited devices</li>
                </ul>
                <a class="btn btn-primary" href="/account/register">Register Now</a>
                </p>
            </div>
        </div>
    </div>
    <div class="col-md-4 mb-5">
        <div class="card h-100">
            <div class="card-body">
                <h2 class="card-title">6 months plan</h2>
                <p class="card-text">
                <ul>
                    <li>NGN 450 / month / device</li>
                    <li>Unlimited devices</li>
                </ul>
                <a class="btn btn-primary" href="/account/register">Register Now</a>
                </p>
            </div>
        </div>
    </div>
    <div class="col-md-4 mb-5">
        <div class="card h-100">
            <div class="card-body">
                <h2 class="card-title">1 year plan</h2>
                <p class="card-text">
                <ul>
                    <li>NGN 400 / month / device</li>
                    <li>Unlimited devices</li>
                </ul>
                <a class="btn btn-primary" href="/account/register">Register Now</a>
                </p>
            </div>
        </div>
    </div>
    <div class="col-md-4 mb-5">
        <div class="card h-100">
            <div class="card-body">
                <h2 class="card-title">2 years plan</h2>
                <p class="card-text">
                <ul>
                    <li>NGN 300 / month / device</li>
                    <li>Unlimited devices</li>
                </ul>
                <a class="btn btn-primary" href="/account/register">Register Now</a>
                </p>
            </div>
        </div>
    </div>
    <div class="col-md-4 mb-5">
        <div class="card h-100">
            <div class="card-body">
                <h2 class="card-title">Lifetime plan</h2>
                <p class="card-text">
                <ul>
                    <li>NGN 12,000 / device</li>
                    <li>Unlimited devices</li>
                </ul>
                <a class="btn btn-primary" href="/account/register">Register Now</a>
                </p>
            </div>
        </div>
    </div>
</div>

<div class="row gx-4 gx-lg-5 text-center my-5 border py-4">
    <p class="h2 font-weight-light">How it works!</p>
    <p class="mt-4"><a class="btn btn-primary btn-lg" href="/how-it-works">See how the systems works.</a></p>
</div>

{{ template "public.footer.html" . }}